body {
  padding: 50px; }

.container {
  width: auto;
  max-width: 760px;
  padding: 0 15px; }

.container .text-muted {
  margin: 20px 0; }

.btn-vote {
  text-align: center;
  padding: 15px;
  margin: 20px 0; }

.btn-vote .btn-group {
  margin: 0 4px; }
