extends layout

block content
  h1= title

  div(ng-controller="DoughnutCtrl")
    div(id="chartWrapper")
      canvas(id="chart" class="chart chart-doughnut" chart-data="data" chart-labels="labels")
    
    .btn-group(role='group')
      button.btn.btn-default(type='button' ng-click='vote(0)') {{labels[0]}}
      button.btn.btn-default(type='button' ng-click='vote(1)') {{labels[1]}}
      button.btn.btn-default(type='button' ng-click='vote(2)') {{labels[2]}}
      
    button.btn.btn-default(type='button' ng-click='reset()') Reset
